<?php
/**
 * Copyright (c) 2011-2018 SAS WEB COOKING - Vincent René Lucien Enjalbert. All rights reserved.
 * See http://www.web-cooking.net/licences/magento/LICENSE-EN.txt for license details.
 */
?>
<?php $isGtm = Mage::helper('googleuniversalanalytics/gtm')->isActive() ?>
<?php $accountId = Mage::helper('googleuniversalanalytics')->getAccountId() ?>
<?php $gtmAccountId = Mage::helper('googleuniversalanalytics/gtm')->getAccountId() ?>
<?php $isOptimize = Mage::helper('googleuniversalanalytics/optimize')->isActive() ?>

<?php /* GTM CONTAINER */ ?>
<?php if($isGtm): ?>
    <script type="text/javascript">
        var wcIsGtm = true;
        var productImpressions = [];
        var promoImpressions = [];
        var dataLayer = dataLayer || [];

        <?php if( ($jsonOptions = $this->_getAnalyticsOptionsAsJson())  && !empty($jsonOptions) ): ?>   
            dataLayer.push(<?php echo $jsonOptions ?>);
        <?php endif ?>
            
            
        <?php echo $this->_getProductDetailsViewCode() ?>
        <?php echo $this->_getTimeOnPageEventCode() ?>
        <?php echo $this->_getOrdersTrackingCode(); ?>

    </script>

    


    <?php if($isOptimize ): ?>
        <script async src="https://www.googletagmanager.com/gtag/js?id=<?php echo $accountId ?>"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments)};
          gtag('js', new Date());

          gtag('config', '<?php echo $accountId ?>', <?php echo $jsonOptions ?>);
          <?php if(Mage::helper('googleuniversalanalytics')->isGlobalActive()): ?>
               gtag('config', '<?php echo Mage::helper('googleuniversalanalytics')->getGlobalAccountId() ?>', <?php echo $jsonOptions ?>);
          <?php endif; ?>
        </script>
    <?php endif; ?>


    <?php if(Mage::helper('googleuniversalanalytics/gtm')->shouldAddContainer()): ?>    
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','<?php echo $gtmAccountId ?>');
        </script>
    <?php endif; ?>
<?php endif; ?>
<?php /* !GTM CONTAINER */ ?>

