.announcement-bar {
    width:100%;
    display:block;
    overflow:hidden;
    margin:0px;
    padding:0px;
}
.announcement-bar ul {
    list-style: none;
    margin:0px;
    padding:0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.announcement-bar ul li {
    padding:5px 0;
    margin:0px;
    list-style: none;
    display: inline-block;
    width: calc(100% / 3);
    text-align: center;
    text-transform: uppercase;
    font-family:inherit;
    border-right: 1px solid #c0c0c0;
}
.announcement-bar ul li:last-child {
    border-right:none;
}
