<?php
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   BL
 * @package    BL_CustomGrid
 * @copyright  Copyright (c) 2015 Benoît Leulliette <benoit.leulliette@gmail.com>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<?php /** @var $this BL_CustomGrid_Block_Grid_Profile_Form_Container */ ?>
<?php echo $this->getFormInitScripts() ?>
<div class="content-header">
    <?php echo $this->getHeaderHtml() ?>
    <p class="form-buttons"><?php echo $this->getButtonsHtml('header') ?></p>
</div>
<?php echo $this->getFormHtml() ?>
<?php if ($this->hasFooterButtons()): ?>
    <div class="content-footer">
        <p class="form-buttons"><?php echo $this->getButtonsHtml('footer') ?></p>
    </div>
<?php endif ?>
<?php
$_formHtmlId = $this->getFormHtmlId();
$_profilesJsObjectName = $this->getProfilesJsObjectName();
?>
<script type="text/javascript">
//<![CDATA[
blcgGridProfileForm = new varienForm('<?php echo $_formHtmlId ?>');

blcgGridProfileForm.submit = function(url) {
    <?php if ($_profilesJsObjectName): ?>
    if (typeof(<?php echo $_profilesJsObjectName ?>) != 'undefined') {
        if (this.validator && this.validator.validate()) {
            var editedProfile = <?php echo $_profilesJsObjectName ?>.getProfile(<?php echo (int) $this->getProfileId() ?>);
            
            if (editedProfile) {
                <?php echo $_profilesJsObjectName ?>.applyAction(
                    editedProfile,
                    '<?php echo $this->jsQuoteEscape($this->getActionCode()) ?>',
                    $('<?php echo $_formHtmlId ?>').serialize(true)
                );
            } else {
                alert('<?php echo $this->jsQuoteEscape($this->__('The edited profile is not available anymore')) ?>');
            }
        }
    } else {
        alert('<?php echo $this->jsQuoteEscape($this->__('Cannot find profiles JS object')) ?>');
    }
    <?php else: ?>
    alert('<?php echo $this->jsQuoteEscape($this->__('Cannot find profiles JS object')) ?>');
    <?php endif ?>
    return false;
}.bind(blcgGridProfileForm);

var blcgGridProfileFormFirstInput = $('<?php echo $_formHtmlId ?>').observe('keydown', function(e) {
    if (e.keyCode == Event.KEY_RETURN) {
        e.stop();
        blcgGridProfileForm.submit();
        return;
    }
})

blcg.Tools.focusFirstInput('<?php echo $_formHtmlId ?>');
//]]>
</script>
<?php echo $this->getFormScripts() ?>