<?php
/**
 * MageWorx
 * MageWorx SeoXTemplates Extension
 *
 * @category   MageWorx
 * @package    MageWorx_SeoXTemplates
 * @copyright  Copyright (c) 2017 MageWorx (http://www.mageworx.com/)
 */
?>

<?php $templateEntityNames = $this->getEntityNames(); ?>

<div class="content-header">
    <table cellspacing="0">
        <tr>
            <td style="width:50%;">
                <h3 class="icon-head">
                    <?php echo Mage::helper('mageworx_seoxtemplates')->__('Manage %s Templates', $templateEntityNames['single']) ?>
                </h3>
            </td>
            <td class="form-buttons">
            	<?php echo $this->getAddNewButtonHtml() ?>
            </td>
        </tr>
    </table>
</div>
<div>
    <?php echo $this->getGridHtml() ?>
</div>