<?php
    $_helper = Mage::helper('checkout/cart');
    $_cartItems = intval($_helper->getSummaryCount());
    $_cartTotal = $_helper->getQuote()->getGrandTotal();
    $_finalPrice = $this->helper('core')->formatPrice($_cartTotal, false);
?>
<dl class="cart-summary">
    <?php if( $_cartItems > 0): ?>
    <dt class="label cart-item-count"><?php echo $this->__('Items') ?></dt>
    <dd class="value cart-item-count"><?php echo $_cartItems ?></dd>
    <?php endif; ?>

    <dt class="label cart-total"><?php echo $this->__('Total') ?></dt>
    <dd class="value cart-total"><?php echo $_finalPrice ?></dd>
</dl>
