#crafty-background {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
#crafty-background #crafty-content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  background-color: white;
  width: 100%;
  max-width: 500px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 0px;
  padding: 20px;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
#crafty-background #crafty-content h3 {
  margin-top: 20px;
}
#crafty-background #crafty-content #craftyErrorDisplay {
  display: none;
  margin-top: 20px;
  padding: 1em;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: #efa91f;
  text-align: center;
}
#crafty-background #crafty-content #craftyResultDisplay {
  margin-top: 20px;
  margin-bottom: 5px;
}
#crafty-background #crafty-content form#craftyForm input:not([type="submit"]) {
  width: 100%;
  background-color: WhiteSmoke;
  border: none;
  border-radius: 3.5px;
  padding: 10px;
  margin-bottom: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#crafty-background #crafty-content form#craftyForm input[type="submit"] {
  background-color: #57AADA;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3.5px;
  padding: 20px;
  color: white;
  cursor: pointer;
  width: 100%;
  border-width: 0px;
}
#crafty-background #crafty-content img {
  display: block;
  margin: auto;
}
#crafty-background #crafty-content #craftyCloseButton {
  width: 20px;
  height: 20px;
  float: right;
  cursor: pointer;
  fill: silver;
}
#crafty-background #crafty-content #craftyLoadingImg {
  width: 50px;
  height: 50px;
  margin: 100px auto;
}
#crafty-background #crafty-content #craftyLoadingImg svg rect {
  fill: #459fd3;
}
#crafty-background #crafty-content #craftyResultDisplay table {
  width: 100%;
  border-collapse: collapse;
}
#crafty-background #crafty-content #craftyResultDisplay table tr {
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d3;
}
#crafty-background #crafty-content #craftyResultDisplay table tr td {
  padding: 0.5em 0.75em;
}
#crafty-background #crafty-content #craftyResultDisplay table thead {
  background-color: #e8e8e8;
  font-weight: bold;
}
#crafty-background #crafty-content #craftyResultDisplay table tbody tr:nth-child(2n+1) {
  background-color: rgba(175, 175, 175, 0.1);
}
#crafty-background #crafty-content #craftyResultDisplay table tbody tr:hover {
  background-color: #57AADA;
  color: #ffffff;
  cursor: pointer;
}
#crafty-background #crafty-content #craftyResultDisplay table tbody tr td {
  padding: 0.5em 0.75em;
}

#cc_insert_token {
  color: #ea7601;
  text-decoration: underline;
  cursor: pointer;
}

/*# sourceMappingURL=popup.css.map */
