<?php
/**
 * Flint Technology Ltd
 *
 * This module was developed by Flint Technology Ltd (http://www.flinttechnology.co.uk).
 * For support or questions, contact us via feefo@flinttechnology.co.uk 
 * Support website: https://www.flinttechnology.co.uk/support/projects/feefo/
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA bundled with this package in the file LICENSE.txt.
 * It is also available online at http://www.flinttechnology.co.uk/store/module-license-1.0
 *
 * @package     flint_feefo-ce-2.0.13.zip
 * @registrant  James Allwood, Webtise
 * @license     E4232701-51BB-4DC4-9199-BC2246B3EDA7
 * @eula        Flint Module Single Installation License (http://www.flinttechnology.co.uk/store/module-license-1.0
 * @copyright   Copyright (c) 2014 Flint Technology Ltd (http://www.flinttechnology.co.uk)
 */
?>
<?php if ($this->isEnabled()): ?>
<div class="feefo_logo <?php echo $this->getCssId(); ?>" id="<?php echo $this->getCssId(); ?>">
    <a onclick="popWin('<?php echo $this->getLogoLink(); ?>', '<?php echo $this->__("Feefo reviews")?>', 'width=1000, height=600, toolbar=no, location=no, scrollbars=1'); return false;"  href="#"  target="_blank">
        <img src="<?php echo $this->getLogoSrc(); ?>" />
    </a>
</div>
<?php endif;?>
