<?php
/**
 * Copyright (c) 2011-2018 SAS WEB COOKING - Vincent René Lucien Enjalbert. All rights reserved.
 * See http://www.web-cooking.net/licences/magento/LICENSE-EN.txt for license details.
 */
?>
<?php $accountId = Mage::helper('googleuniversalanalytics')->getAccountId() ?>
<?php $isGtm = Mage::helper('googleuniversalanalytics/gtm')->isActive() ?>
<?php $isOptimize = Mage::helper('googleuniversalanalytics/optimize')->isActive() ?>
<?php $jsonOptions = $this->_getAnalyticsOptionsAsJson(); ?>


<?php if(!$isGtm): ?>
<script type="text/javascript">    
    var wcIsGtm = false;
    var productImpressions = [];
    var promoImpressions = [];
    
    <?php echo $this->_getBeforePageViewCustomTag() ?>



    <?php echo $this->_getOptOutTrackingCode($accountId) ?>
</script>
    
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=<?php echo $accountId ?>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '<?php echo $accountId ?>'<?php if($jsonOptions): ?>, <?php echo $jsonOptions ?><?php endif ?>);
<?php if(Mage::helper('googleuniversalanalytics')->isGlobalActive()): ?>
  gtag('config', '<?php echo Mage::helper('googleuniversalanalytics')->getGlobalAccountId() ?>'<?php if($jsonOptions): ?>, <?php echo $jsonOptions ?><?php endif ?>);
<?php endif; ?>
</script>
<?php endif; ?>
 
<script type="text/javascript">    
<?php echo $this->_getProductDetailsViewCode() ?>
<?php echo $this->_getTimeOnPageEventCode() ?>

    
    



    
<?php echo $this->_getOrdersTrackingCode(); //needs to be first if EE enabled ?>
    

    
<?php echo $this->_getAfterPageViewCustomTag() ?>

</script>