<?php
/**
 * MageWorx
 * MageWorx SeoCrossLinks Extension
 *
 * @category   MageWorx
 * @package    MageWorx_SeoCrossLinks
 * @copyright  Copyright (c) 2017 MageWorx (http://www.mageworx.com/)
 */
 
?>

<div class="content-header">
    <table cellspacing="0">
        <tr>
            <td style="width:50%;">
                <h3 class="icon-head">
                    <?php echo Mage::helper('mageworx_seocrosslinks')->__('Manage Cross Links') ?>
                </h3>
            </td>
            <td class="form-buttons">
            	<?php echo $this->getAddNewButtonHtml() ?>
            </td>
        </tr>
    </table>
</div>
<div>
    <?php echo $this->getGridHtml() ?>
</div>