<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Conf
 */
    $product = $this->getProduct();
    $helper = $this->helper('catalog/output');
    $imageHelper = $this->helper('catalog/image');
    $smallImageSize = (int)Mage::getStoreConfig('amconf/size/thumb');
    $itemCount = (int)Mage::getStoreConfig('amconf/carousel/visible_items');
    $isModuleEnable = Mage::getStoreConfig('amconf/zoom/enable')
        || Mage::getStoreConfig('amconf/lightbox/enable')
        || Mage::getStoreConfig('amconf/zoom/change_main_img_with')
        || Mage::getStoreConfig('amconf/carousel/enable');
?>
<?php if($isModuleEnable) : ?>
    <script type="text/javascript"
            src="<?php echo Mage::getDesign()->getSkinUrl('js/amasty/amconf/zoomer.js', array()) ?>">
    </script>
<?php endif;?>

<?php /* compatibility with Amasty Product labels */
    if ('true' == (string) Mage::getConfig()->getNode('modules/Amasty_Label/active')): ?>
    <div class="amlabel-div">
        <?php echo Mage::helper('amlabel')->getLabels($product, 'product');?>
<?php endif; ?>

<?php if ($product->getImage() != 'no_selection' && $product->getImage()): ?>
    <div class="product-image">
        <?php
            $img = '<img id="amasty_zoom" 
                        data-zoom-image="' . $imageHelper->init($product, 'image') . '"
                        src="' . $imageHelper->init($product, 'image') . '" 
                        alt="' . $this->htmlEscape($this->getImageLabel()).'"
                        title="'. $this->htmlEscape($this->getImageLabel()) . '"
                        zoom-alt="' . $this->htmlEscape($this->getImageLabel()) . '"
                    />';
            echo $helper->productAttribute($product, $img, 'image');
        ?>
    </div>
<?php else: ?>
    <div class="product-image">
        <?php
            $img = '<img id="amasty_zoom"
                          data-zoom-image="' . $this->helper('catalog/image')->init($product, 'image') . '" 
                          src="' . $imageHelper->init($product, 'image') . '" 
                          alt="' . $this->htmlEscape($this->getImageLabel()) . '" 
                          title="' . $this->htmlEscape($this->getImageLabel()) . '" 
                      />';
            echo $helper->productAttribute($product, $img, 'image');
        ?>
    </div>
<?php endif; ?>

<?php if ('true' == (string)Mage::getConfig()->getNode('modules/Amasty_Label/active')): ?>
    </div>
<?php endif; ?>

<?php if (count($this->getGalleryImages()) > 0): ?>
    <div class="more-views">
        <h2 class="am-more-view-title"><?php echo $this->__('More Views') ?></h2>
        <div style="position: relative;">
            <div id="amasty_gallery">
                 <?php foreach ($this->getGalleryImages() as $image): ?>
                     <?php
                        $file = $image->getFile();
                        $fullImage = $imageHelper->init($product, 'image', $file);
                        $label = $this->htmlEscape($image->getLabel());
                     ?>
                     <a rel="group"
                        title="<?php echo $label ?>"
                        <?php if (Mage::getStoreConfig('amconf/lightbox/enable')
                            && Mage::getStoreConfig('amconf/lightbox/thumbnail_lignhtbox')
                        ) : ?>
                             class="fancybox" href="<?php echo $fullImage; ?>"
                        <?php endif; ?>
                        data-zoom-image="<?php echo $fullImage; ?>"
                        data-image="<?php echo $fullImage; ?>"
                     >
                        <img src="
                                <?php echo $this->helper('catalog/image')->init(
                                    $this->getProduct(),
                                    'thumbnail',
                                    $file
                                )->resize($smallImageSize); ?>"
                             width="<?php echo $smallImageSize;?>"
                             height="<?php echo $smallImageSize;?>"
                             alt="<?php echo $label; ?>"
                             title="<?php echo $label; ?>"
                        />
                    </a>
                 <?php endforeach; ?>
            </div>
            <?php if (count($this->getGalleryImages()) > $itemCount
                && Mage::getStoreConfig('amconf/carousel/enable')
            ): ?>
                <div id="prevGallery" style="top:<?php echo $smallImageSize/2 - 17;?>px" class="MagicScrollArrows MagicScrollArrowPrev"></div>
                <div id="nextGallery" style="top:<?php echo $smallImageSize/2 - 17;?>px" class="MagicScrollArrows MagicScrollArrowNext"></div>
                 <?php if (Mage::getStoreConfig('amconf/carousel/pagination')): ?>
                    <div id="ampagination" style="margin-top: 10px;"></div>
                 <?php endif; ?>
            <?php endif; ?>
         </div>
    </div>
<?php endif;?>
<?php if($isModuleEnable) : ?>
    <script type="text/javascript" >
        try {
            AmZoomerObj = new AmZoomer(<?php echo Mage::helper('amconf/zoom')->jsParam()?>);
            AmZoomerObj.loadCarousel();
        }
        catch(ex){console.log(ex);}
    </script>
<?php endif; ?>
