<?php
/**
  * Copyright (c) 2011-2018 SAS WEB COOKING - Vincent René Lucien Enjalbert. All rights reserved.
 * See http://www.web-cooking.net/licences/magento/LICENSE-EN.txt for license details.
 */
?>
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-payment-method"><?php echo $this->__('Google Analytics Data') ?></h4>
    </div>
    <fieldset>
        <table cellspacing="0" class="form-list">
            <tbody>
                <?php foreach($this->getAnalyticsData() as $label=>$value): ?>
                <tr>
                    <td class="label">
                        <label><?php echo $this->__($label) ?></label>
                    </td>
                    <td class="value">
                        <label><?php echo $value ?></label>
                    </td>
                </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
        <?php if(!Mage::getStoreConfig('googleuniversalanalytics/api/access_code')): ?>
            <button onclick="setLocation('<?php echo $this->getUrl('adminhtml/system_config/edit', array('section'=>'googleuniversalanalytics')) ?>#googleuniversalanalytics_dashboard-head')"><?php echo $this->__('Authenticate to get more data about the order'); ?></button>
        <?php endif; ?>
    </fieldset>
</div>