<?php
/**
  * Copyright (c) 2011-2018 SAS WEB COOKING - Vincent René Lucien Enjalbert. All rights reserved.
 * See http://www.web-cooking.net/licences/magento/LICENSE-EN.txt for license details.
 */
$_chartId = $this->getNameInLayout();
?>
<div id="<?php echo $_chartId ?>" ></div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", '1', {packages: ['corechart']});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['<?php echo $this->getHAxisTitle() ?>', '<?php echo $this->getVAxisTitle() ?>'],
<?php echo $this->getChartJson(); ?>
        ]);
        var chart = new google.visualization.AreaChart($('<?php echo $_chartId ?>'));
        var options = {
            legend: {position: 'none'},
            pointSize: 3,
            title: '<?php echo $this->getTitle() ?> (<?php echo $this->getChartTotalForAllResults()?> <?php echo $this->getQuery()?>)',
            chartArea: {width: '85%'},
            vAxis: {title: '<?php echo $this->getVAxisTitle() ?>',minValue: 0},
            hAxis: {title: '<?php echo $this->getHAxisTitle() ?>', titleTextStyle: {color: 'black'}, showTextEvery: 2}
        };
        chart.draw(data, options);
    }
</script>
