<?php
/**
 * OneStepCheckout
 * 
 * NOTICE OF LICENSE
 *
 * This source file is subject to One Step Checkout AS software license.
 *
 * License is available through the world-wide-web at this URL:
 * https://www.onestepcheckout.com/LICENSE.txt
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to mail@onestepcheckout.com so we can send you a copy immediately.
 *
 * @category   Idev
 * @package    Idev_OneStepCheckout
 * @copyright  Copyright (c) 2009 OneStepCheckout  (https://www.onestepcheckout.com/)
 * @license    https://www.onestepcheckout.com/LICENSE.txt
 */
?>

<?php if (!($_shippingRateGroups = $this->getShippingRates())): ?>
    <strong><?php echo $this->__('Sorry, no quotes are available for this order at this time.') ?></strong>
<?php else: ?>
    <?php if (count($_shippingRateGroups)=='1' && Mage::getStoreConfig('onestepcheckout/general/hide_shipping_method')):?>
        <dl class="shipment-methods" style="display: none">
            <?php foreach ($_shippingRateGroups as $code => $_rates): ?>
            <dd><?php echo $this->getCarrierName($code) ?></dd>
                <?php foreach ($_rates as $_rate): ?>
                <dt style="margin-bottom: 5px;">
                   <?php if ($_rate->getErrorMessage()): ?>
                   <ul class="messages"><li class="error-msg"><ul><li><?php echo $_rate->getErrorMessage() ?></li></ul></li></ul>
                   <?php else: ?>
                   <input name="shipping_method" type="radio" value="<?php echo $_rate->getCode() ?>" id="s_method_<?php echo $_rate->getCode() ?>" checked="checked" />
                   <label for="s_method_<?php echo $_rate->getCode() ?>"><!--<b><?php echo $this->getCarrierName($code) ?>:</b>--> <?php echo $_rate->getMethodTitle() ?>
                        <strong>
                        <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                        <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>
                        <?php echo $_excl; ?>
                        <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                            (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                        <?php endif; ?>
                        </strong>
                    </label>
                   <?php endif ?>
                   </dt>
                <?php endforeach; ?>
            <?php endforeach; ?>
        </dl>
    <?php else: ?>
        <dl class="shipment-methods">
            <?php foreach ($_shippingRateGroups as $code => $_rates): ?>
                        <dd><?php echo $this->getCarrierName($code) ?></dd>
                    <?php foreach ($_rates as $_rate): ?>
                        <dt style="margin-bottom: 5px;">

                           <?php if ($_rate->getErrorMessage()): ?>
                            <ul class="messages"><li class="error-msg"><ul><li><?php echo $_rate->getErrorMessage() ?></li></ul></li></ul>
                           <?php else: ?>
                                <input name="shipping_method" type="radio" class="validate-one-required-by-name" value="<?php echo $_rate->getCode() ?>" id="s_method_<?php echo $_rate->getCode() ?>"<?php if($_rate->getCode()===$this->getAddressShippingMethod()) echo ' checked="checked"' ?> />
                                <label for="s_method_<?php echo $_rate->getCode() ?>"><!--<b><?php echo $this->getCarrierName($code) ?>:</b>--> <?php echo $_rate->getMethodTitle() ?>
                                <strong>
                                <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                                <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>

                                <?php echo $_excl; ?>
                                <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                                    (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                                <?php endif; ?>
                                </strong>
                                </label>
                           <?php endif ?>
                        </dt>
                    <?php endforeach; ?>
            <?php endforeach; ?>
        </dl>
    <?php endif; ?>
<?php endif; ?>

<script>

var enabled_for =  <?php echo json_encode($enabledfor);?>;
var sMethods = $$('.onestepcheckout-shipping-method').first(); 
 
if(sMethods && enabled_for.length > 0) {
  $$('dl.shipment-methods input').invoke('observe', 'click', function(e){

      var elem = e.element();
      var enabled_for =  <?php echo json_encode($enabledfor);?>;
      var sMethods = $$('.onestepcheckout-shipping-method').first(); 
      var target = $('ddate');
      var isPresent = enabled_for.indexOf(elem.value);

      if(isPresent >= 0){
        target.show();
      } else {
        target.hide();
        target.select('input, select, textarea').each(function(e) {
          var elem = e;
          if(elem.type === 'checkbox'){
            elem.checked = false;
          } else {
            elem.clear();
          }

          var wrapper = $('ddatewrap');
          if(wrapper){
            wrapper.hide();
          }
        } );

      }
  });
}
</script>

